body {
    background-image: radial-gradient(circle, white, white, lightsteelblue);
    font-family: Hack, monospace;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    color: navy;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    color: navy;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    color: navy;
}

a {
    color: navy;
    font-weight: bold;
}

dt {
    font-variant: small-caps;
}

.social {
    text-align: center;
}

.icon {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.avatar {
    padding: 10px;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden_pixels {
}
